---
interface Props {
	label: string;
	title: string;
	description?: string;
}

const { label, title, description } = Astro.props;
---

<style>
	.section-title {
		font-variation-settings: 'wght' 700;
	}
</style>

<div class="w-full">
	<span class="bg-clip-text text-transparent bg-blue-green-gradient font-semibold">{label}</span>

	<h2 class="section-title mt-1 font-heading text-[30px] text-white text-balance">
		{title}
	</h2>
	{
		description && (
			<p class="mt-3 w-full lg:w-2/3 xl:w-1/2 text-base text-astro-gray-200 lg:text-balance font-light">
				{description}
			</p>
		)
	}

	<div class="mt-4">
		<slot name="call-to-action" />
	</div>
</div>
