@font-face {
	font-family: 'Degular';
	src: url('/fonts/Degular.ttf') format('truetype-variations');
	src: url('/fonts/Degular.ttf') format('truetype') tech('variations');
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.woff2?v=1') format('woff2-variations');
	src: url('/fonts/Inter.woff2?v=1') format('woff2') tech('variations');
	font-style: normal;
	font-display: swap;
	font-weight: 300 600;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: jetbrains-mono-fallback;
	src: local('Courier New');
	line-gap-override: 0%;
}

@font-face {
	font-family: degular-fallback;
	src: local('Verdana');
	size-adjust: 105%;
}

@font-face {
	font-family: inter-fallback;
	ascent-override: 90.2%;
	descent-override: 22.48%;
	line-gap-override: 0%;
	size-adjust: 107.4%;
	src: local('Arial');
}
