@import './prose.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	code,
	pre,
	kbd,
	samp {
		font-family: 'JetBrains Mono', jetbrains-mono-fallback, monospace;
	}
}

@layer components {
	.button {
		@apply font-sans inline-flex h-14 items-center justify-center gap-4 rounded-full border border-astro-gray-100 px-10 text-center text-base font-medium leading-none tracking-wide text-white no-underline transition hover:bg-white/10;
	}

	.button.button-primary {
		@apply border-none bg-blue-purple-gradient text-white hover:bg-blue-purple-gradient hover:brightness-75;
	}

	.button.button-white {
		@apply border-none bg-astro-gray-100 text-astro-gray-700 hover:brightness-75;
	}

	.button.button-sm {
		@apply h-10 gap-2 px-6 text-sm tracking-wide;
	}
	.button.button-xs {
		@apply h-6 gap-2 px-3 text-xs tracking-wide;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer typography {
	:root {
		--sans-weight-normal: 200;
		--sans-weight-bold: 600;
		--sans-wght: 'wght' var(--sans-weight);
		--sans-case: 'case' on;
		--sans-ss03: 'ss03' on;
		--sans-cpsp: 'cpsp' on;
		--sans-cv03: 'cv03' on;
		--sans-cv04: 'cv04' on;
		--sans-cv05: 'cv05' on;
		--sans-cv06: 'cv06' on;

		--mono-style-italic: 'ital' 1;
		--mono-style-normal: 'ital' 0;
		--mono-calt: 'calt' on;
		--mono-zero: 'zero' on;
		--mono-style: var(--mono-style-normal);
		--mono-ital: var(--mono-style);

	}

	.font-italic {
		--mono-style: var(--mono-style-italic);
	}

	.font-strong {
		--sans-weight: var(--sans-weight-bold);
	}

	.font-sans {
		font-family: Inter, inter-fallback, system-ui, sans-serif;
		font-variation-settings: var(--sans-wght);
		font-feature-settings:
			var(--sans-case), var(--sans-ss03), var(--sans-cpsp), var(--sans-cv03), var(--cv04),
			var(--cv05), var(--cv06);
	}

	.font-mono {
		font-family: 'JetBrains Mono', jetbrains-mono-fallback, monospace;
	}

	.font-heading {
		font-family: 'Degular', degular-fallback, system-ui, sans-serif;
	}

	.font-title {
		font-family: 'Degular', system-ui, sans-serif;
	}
}
