---
import CodeBlock from '~/components/CodeBlock.astro';
import PageTitleBlock from '~/components/PageTitleBlock.astro';
import Link from '../Link.astro';
import PillLink from '../PillLink.astro';
import HeroBackground from './HeroBackground.astro';
import UsedBy from './UsedBy.astro';
import versions from '~/data/versions';

const slogans = [
	"Sans framework imposé",
	"Sans vendor lock-in",
	"Sans impact sur le runtime",
	"A la compilation"
];
---

<section class="relative">
	<div
		class="mt-16 md:mt-20 lg:mt-24 px-4 sm:px-8 mx-auto w-full sm:max-w-screen-md flex flex-col items-center justify-center gap-5 md:gap-6 lg:gap-8"
	>
		<PillLink
			href="/docs/getting-started/"
			title="Nouveau"
			subtitle={`HexaGlue v${versions.hexaglue} disponible`}
		/>
		<PageTitleBlock
			wide
			lg
		>
			<h1
				slot="title"
				class="text-balance mb-4 text-center text-5xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-6xl/[1.1] xl:text-7xl/[1.1]"
			>
				DDD et Architecture Hexagonale pour Java
			</h1>
			<div slot="body" class="text-astro-gray-200 text-center text-balance font-light max-w-2xl">
				<h2 class="mb-4 text-lg md:text-xl lg:text-2xl">
					<strong class="text-white font-medium">Votre architecture visible, vérifiable et actionnable.</strong>
				</h2>
				<div class="flex items-center justify-center">
					<CodeBlock typewriter={slogans} />
				</div>
			</div>
		</PageTitleBlock>

		<div class="grid grid-rows-2 gap-2">
			<Link href="/docs/getting-started/" class="primary">
				Démarrer maintenant
			</Link>
		</div>
	</div>

	<HeroBackground />

	<UsedBy />
</section>
