---
import GemIcon from '~/components/GemIcon.astro';
import IntroPoint from '../IntroPoint.astro';
import GreenishStardust from './GreenishStardust.astro';
---

<section class="mt-20 sm:mt-36 xs:p-6 mx-auto w-full max-w-screen-xl space-y-8 p-4 sm:p-8">
	<div class="space-y-1">
		<span class="bg-clip-text text-transparent bg-blue-green-gradient font-semibold">
			A quoi sert HexaGlue
		</span>
		<h2
			class="section-title max-w-screen-lg text-balance text-[30px] font-heading md:leading-tight"
		>
			<strong>HexaGlue</strong> est un moteur d'analyse et d'automatisation architecturale qui s'active à la compilation des applications Java.
		</h2>
	</div>

	<div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
		<IntroPoint title="Classification">
			<GemIcon slot="icon" icon="ri/search-eye-line" gradient="blue-green" />
			<Fragment slot="description">
				HexaGlue analyse le code et le modèle de domaine à la compilation afin d'en extraire un modèle architectural structuré.
				Les concepts clés (agrégats, entités, objets valeur, cas d'usage, ports, relations…) sont identifiés de manière fiable et traçable.
			</Fragment>
		</IntroPoint>

		<IntroPoint title="Validation">
			<GemIcon slot="icon" icon="ri/shield-check-line" gradient="red-pink" />
			<Fragment slot="description">
				À partir de ce modèle, les règles d'architecture sont formalisées et vérifiées automatiquement.
				Les écarts et ambiguïtés sont détectés dès la compilation, avant qu'ils ne se transforment pas en dette ou en risque en production.
			</Fragment>
		</IntroPoint>

		<IntroPoint title="Génération">
			<GemIcon slot="icon" icon="ri/code-box-line" gradient="orange-yellow" />
			<Fragment slot="description">
				Parce que l'architecture est connue et maîtrisée, HexaGlue peut automatiser la production d'artefacts cohérents :
				adaptateurs d'infrastructure, entités de persistance, repositories, interfaces REST, documentation ou audits, directement dérivés du code métier.
			</Fragment>
		</IntroPoint>
	</div>
	<GreenishStardust height="h-40 md:h-56 lg:h-64" />
</section>

<style>
	.section-title {
		font-variation-settings: 'wght' 400;
	}

	.section-title strong {
		font-variation-settings: 'wght' 700;
	}
</style>
